<h1>{{ title }}</h1>
<button (click)="alteraTexto()">Alterar</button>
<ul>
  <!--*ngFor faço uma for pra percorrer minha lista-->
  <!--*ngIf faço condições que desejo
      (click) chamo o click do meu button e paço o evento que desejo    
  -->
  <li *ngFor="let todo of todos">{{ todo.id }}. {{ todo.title }} - 
  <button *ngIf="!todo.done" (click)="markAsDone(todo)">Concluir</button>
  <button *ngIf="todo.done" (click)="markAsUndone(todo)">Refazer</button> |
  <button (click)="remove(todo)">Remover</button>
  </li>
</ul>
